body {
	background: #eee;
}

.container {
	background: #fff;
}

.navbar-brand img {
	width: auto;
	max-height: 40px;
}

/**
 * Add your styles below
 */
.card{
	width:100%;
	display: flex;
	flex-direction: row;
}
.card-block{
	width: 50%;
	
}
.card-img-top{
	width: 50%;
	height: 50%;
}