body {
	background: #eee;
}

.container {
	background: #fff;
}

.navbar-brand img {
	width: auto;
	max-height: 40px;
}

/**
 * Add your styles below
 */

 .fish {
	width: 20rem; 
  display: flex;
  align-items: center;
 }

 .flower {
	width: 20rem;
	display: flex;
	align-items: center;
 }

 .bird {
	width: 20rem;
	display: flex;
	align-items: center;
 }
